{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Iron Man</h1>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae fuga eaque alias? Laudantium expedita aperiam quam nobis facilis, non cupiditate? Iste, cum ea dolorem blanditiis voluptates inventore modi provident sapiente! </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/ironman.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}